[Unit]
Description=DriveboardApp
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/sudo python /root/driveboardapp/backend/app.py -n -c --tmp
ExecStop=/usr/bin/sudo /usr/bin/pkill -9 -f app.py

[Install]
WantedBy=multi-user.target