[Unit]
Description=DriveboardApp
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/sudo python /home/pi/driveboardapp/backend/app.py -n -c --tmp
ExecStop=/usr/bin/sudo kill $(pgrep -f 'app.py')

[Install]
WantedBy=multi-user.target